body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;

}

#top {
    text-align: center;


}

#logo {
    color: rgb(243, 243, 243);
    background-color: rgb(44, 44, 44);
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;

}

#logo-name {
    font-size: 15px;
    font-weight:lighter;
    margin-bottom: 30px;
    letter-spacing: 0.35em;

   

}

#navigation a {
    text-decoration:none;
    color: rgb(44, 44, 44);
    padding: 10px;
    margin-top: 40px;
    
}

#navigation a:hover {
    color: rgb(44, 44, 44);
}


.image img {
    align-items: center;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 15px;
}


#main {
    max-width: 800x;
    margin: auto;
    font-weight: regular;

}

#footer {
    text-align: center;
    color: rgb(44, 44, 44);
    padding: 20px;
}

#h1 {
    font-weight: 500;
    margin-bottom: 5px;
}

p {
    text-align: justify;
    margin-left: 490px;
    max-width: 1000px;
    font-size: auto;
    margin-bottom: 80px;
}


h2 {
    
    font-size: 40px;
    margin-left: 470px;
    margin-bottom: 20px;
}